pre {
  overflow-x: scroll;
  tab-size: 2;
  white-space: pre;
}

code {
  background: $color-grey-less;
  border-radius: 4px;
  font-family: 'Iosevka', Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 13px;
  padding: 2px 5px;
  overflow-x: scroll;
  word-break: normal;
}
.codeblock {
  background: $color-dark;
  border-radius: 4px;
  border: 1px solid $color-light;
  box-shadow: -4px 0px 20px 0px rgba(0, 0, 0, 1) inset;
  color: $color-light;
  display: block;
  overflow-x: scroll;
  padding: $size-4;
  &__comment {
    color: $color-greyer;
    font-style: italic;
  }
  & code {
    background: none;
  }
  @media screen and (max-width: 850px) {
    padding: $size-1 $size-2;
  }
}
