@use 'variables' as *;

.post {
  &__article {
    @media screen and (max-width: 500px) {
      font-size: 0.95rem;
    }
  }
  &__header {
    font-size: $size-5;
    line-height: 1.2;
    @media screen and (max-width: 500px) {
      font-size: 8vw;
    }
  }
  &__date {
    color: $color-grey;
    font-size: $size-sm;
    font-style: italic;
  }
  &__subheader {
    font-size: $size-2;
    @media screen and (max-width: 500px) {
      font-size: 6vw;
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__footer-header {
    border-top: 1px solid $color-dark;
    color: $color-dark;
    display: block;
    font-size: $size-5;
    margin-bottom: 0;
    margin-top: $size-6;
    padding-top: $size-3;
    text-align: center;
    width: 100%;
  }
  &__footer-social {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: $size-3 0 $size-9;
    a {
      &:hover {
        border-bottom: none;
      }
      .post__footer-social-icon {
        border-radius: 10px;
        border: 1px solid $color-dark;
        color: $color-secondary-darker;
        display: block;
        font-size: 2rem;
        height: auto;
        min-width: 34px;
        padding: 17px 25px;
        transition: 0.3s;
        &:hover {
          box-shadow: 4px 4px 0 $color-dark;
          color: $color-tertiary-darker;
          transform: translate(-4px, -4px);
        }
        @media screen and (max-width: 500px) {
          min-width: 44px;
          padding: 10px 15px;
        }
      }
    }
  }
}
