// Colors
$color-light: #f5f5f5;
$color-lighter: #fdfdfd;
$color-dark: #444444;
$color-darker: #333333;
$color-grey: #777777;
$color-greyer: #999999;
$color-grey-less: #dddddd;
// $color-primary: #f5668c;
$color-primary: #ff90ad;
// $color-primary-less: #ff90ad;
$color-primary-less: #ff90ad;
// $color-primary-more: #fd3b6f;
$color-primary-more: #ff90ad;
// $color-secondary: #98c4ef;
$color-secondary: #ffdf85;
// $color-secondary-less: #b0d8ff;
$color-secondary-less: #ffdf85;
// $color-secondary-more: #3997f5;
$color-secondary-more: #ffdf85;
// $color-tertiary: #baea93;
$color-tertiary: #b8dcff;
// $color-tertiary-less: #ccf7a9;
$color-tertiary-less: #b8dcff;
// $color-tertiary-more: #8aeb3c;
$color-tertiary-more: #b8dcff;
// $color-quaternary: #ffaa65;
$color-quaternary: #caffbf;
// $color-quaternary-less: #ff9c4a;
$color-quaternary-less: #caffbf;
// $color-quaternary-more: #fdc393;
$color-quaternary-more: #caffbf;
$pink: $color-primary;
$yellow: $color-secondary;
$blue: $color-tertiary;
$green: $color-quaternary;

// Sizing
$ratio: 1.236;
$size-sm-1: 1rem / $ratio;
$size-sm-2: $size-sm-1 / $ratio;
$size-sm-3: $size-sm-2 / $ratio;
$size-1: 1rem;
$size-2: $size-1 * $ratio;
$size-3: $size-2 * $ratio;
$size-4: $size-3 * $ratio;
$size-5: $size-4 * $ratio;
$size-6: $size-5 * $ratio;
$size-7: $size-6 * $ratio;
$size-8: $size-7 * $ratio;
$size-9: $size-8 * $ratio;
$size-10: $size-9 * $ratio;

$size-sm: 0.75rem;
$size-med: 0.85rem;
