@import '../styles/variables';

.link {
  color: inherit;
  &:hover {
    border-bottom: none;
  }
}

.card {
  border-radius: 10px;
  border: 1px solid $color-dark;
  color: inherit;
  flex-basis: 45%;
  margin: 0.75rem 1rem;
  max-width: 450px;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    box-shadow: 4px 4px 0px $color-dark;
  }
}

.card__img {
  border: 1px solid $color-dark;
  border-radius: inherit;
  display: block;
  width: 100%;
  height: auto;
}

.card__header {
  padding-top: 1em;
  margin: 0 0 1rem 0;
  font-size: $size-3;
  line-height: 1.3;
  font-weight: 700;
}

.card__byline {
  font-size: $size-sm-1;
}

.card__button {
  margin: 1em;
  align-self: center;
  margin: 0;
  white-space: nowrap;
  padding: $size-sm;
  background-color: $color-primary-less;
  color: $color-dark;
  border: 1px solid $color-dark;
  border-radius: 4px;
  font-size: $size-1;
  transition: 0.3s;
  width: 100%;
  a {
    color: inherit;
    text-transform: none;
    &:hover {
      border: none;
    }
  }
  &:hover {
    box-shadow: 2px 2px 0px $color-dark;
    background-color: $color-secondary-less;
    font-weight: 900;
  }
}
