@use '../../styles/variables' as *;

.nav {
  background: $color-lighter;
  color: $color-dark;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
  a {
    border-bottom: none;
    text-transform: none;
  }
  .logo__img {
    height: auto;
    margin: 0 auto;
    width: 100%;
  }
  .links {
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style: none outside;
    margin: 0 auto;
    max-width: 450px;
    .link {
      a {
        border: 1px solid $color-lighter;
        border-radius: 4px;
        color: $color-tertiary-darker;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 0 $size-1;
        text-transform: lowercase;
        &:hover {
          color: $color-primary;
          transition: 0.3s;
          border: 1px solid $color-dark;
          box-shadow: 2px 2px 0 $color-dark;
          transform: translate(-2px, -2px);
        }
      }
    }
  }
}
