@import '../../styles/variables';

.nav {
  align-items: center;
  background: $color-lighter;
  color: $color-dark;
  display: flex;
  flex-flow: column wrap;
  font-size: 2rem;
  justify-content: center;
  overflow: scroll;
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    // width: 300.95px;
  }
  .logo {
    &__img {
      height: auto;
      margin: 0 auto;
      max-width: 200px;
      width: 100%;
    }
    &:hover {
      border-bottom: inherit;
      text-transform: none;
    }
  }
  .button {
    background: inherit;
    border: 0;
    cursor: pointer;
    font-size: inherit;
    margin: 0;
    padding: 0;
    transition: 0.3s;
    span {
      display: block;
      width: 2rem;
    }
  }
  .links {
    // overflow-y: scroll;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none outside;
    margin: 0 auto;
    padding: 0.5rem 0 2rem;
    .link {
      // padding: 0 $size-1;
      border-radius: 4px;
      border: 1px solid $color-dark;
      box-shadow: 2px 2px 0 $color-dark;
      font-size: 1.5rem;
      font-weight: 700;
      margin-top: 1rem;
      padding: 0 4px;
      text-align: center;
      text-transform: lowercase;
      transition: 0.3s;
      width: 30%;
      a {
        color: $color-dark;
      }
      & a:hover {
        border-bottom: none;
      }
    }
  }
}
