@import '../styles/variables';

.link {
  color: inherit;
  &:hover {
    border-bottom: none;
  }
}

.card {
  border-radius: 10px;
  border: 1px solid $color-dark;
  color: inherit;
  display: grid;
  justify-items: stretch;
  align-items: center;
  flex-basis: 45%;
  margin: 0.75rem 1rem;
  max-width: 450px;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    transform: translate(-8px, -8px);
    box-shadow: 0.5px 0.5px 0 0 $color-dark, 1px 1px 0 0 $color-dark,
      1.5px 1.5px 0 0 $color-dark, 2px 2px 0 0 $color-dark,
      2.5px 2.5px 0 0 $color-dark, 3px 3px 0 0 $color-dark,
      3.5px 3.5px 0 0 $color-dark, 4px 4px 0 0 $color-dark,
      4.5px 4.5px 0 0 $color-dark, 5px 5px 0 0 $color-dark,
      5.5px 5.5px 0 0 $color-dark, 6px 6px 0 0 $color-dark,
      6.5px 6.5px 0 0 $color-dark, 7px 7px 0 0 $color-dark,
      7.5px 7.5px 0 0 $color-dark, 8px 8px 0px $color-dark;
  }
}

.intro_card {
  align-items: center;
  color: inherit;
  display: flex;
  flex-basis: 45%;
  flex-flow: column wrap;
  justify-content: center;
  margin: 3rem auto;
  padding: 4rem 0.5rem;
  text-align: left;
  text-decoration: none;
  transition: 0.3s;
  width: 99%;
  h1 {
    display: block;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 1.1;
    margin: 0;
    padding: 1rem 0 0 0;
    text-align: center;
    text-transform: lowercase;
  }
  h2.tags {
    display: flex;
    flex-flow: row wrap;
    font-size: 2rem;
    justify-content: center;
    justify-items: stretch;
    align-items: center;
    margin-top: 0.5rem;
  }
  img {
    max-width: 50%;
  }
  button {
    border: none;
    width: 200px;
    strong {
      font-weight: 800;
      text-transform: lowercase;
    }
  }

  @media screen and (max-width: 600px) {
    width: 95%;
    h1 {
      font-size: 3rem;
      letter-spacing: -1px;
    }
    h2.tags {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: stretch;
      text-align: center;
      width: 100%;
    }
  }
  @media screen and (max-width: 350px) {
    h1 {
      font-size: 2rem;
    }
    h2.tags {
      font-size: 1.75rem;
    }
  }
}

.card__img {
  border: 1px solid $color-dark;
  border-radius: 10px;
  display: block;
  width: 100%;
  height: auto;
}

.card__header {
  padding-top: 1em;
  margin: 0 0 1rem 0;
  font-size: $size-3;
  line-height: 1.3;
  font-weight: 700;
}

.card__body {
  p {
    margin: 0;
    padding-bottom: 1rem;
  }
}

.card__byline {
  font-size: $size-sm-1;
}

.card__button {
  align-self: center;
  background-color: $color-primary;
  border-radius: 4px;
  border: none;
  border: 1px solid $color-dark;
  color: $color-dark;
  font-size: $size-1;
  margin: 0 auto;
  padding: $size-sm;
  text-transform: uppercase;
  transition: 0.3s;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
  a {
    color: inherit;
    text-transform: none;
    &:hover {
      border: none;
    }
  }
  &:hover {
    box-shadow: 2px 2px 0px $color-dark;
    transform: translate(-2px, -2px);
    background-color: $color-secondary;
    color: $color-dark;
    font-weight: 900;
  }
}
