@use '../../styles/variables' as *;

.intro_card {
  // align-items: center;
  // color: inherit;
  // display: flex;
  // flex-basis: 45%;
  // flex-flow: column wrap;
  // height: auto;
  // justify-content: center;
  // padding: 4rem 0.25rem;
  // transition: 0.3s;
  // width: 100%;
  margin: 6rem auto 1rem; // Reset to 3rem auto;
  text-align: left;
  text-decoration: none;
  @media screen and (max-width: 400px) {
    width: 100%;
  }
}

.intro__grid {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(3, auto);
  @media screen and (max-width: 800px) {
    display: flex;
    flex-flow: column wrap;
  }
}

.intro__header {
  grid-row: 1;
  border-radius: 4px;
  display: block;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 1.1;
  margin: 0;
  padding-top: 1rem;
  text-align: center;
  text-transform: lowercase;
  white-space: nowrap;
  @media screen and (max-width: 800px) {
    font-size: 4rem;
  }
  @media screen and (max-width: 550px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 400px) {
    font-size: 2.5rem;
  }
}

.intro__tags {
  display: flex;
  justify-content: space-between;
  grid-row: 2;
  text-align: center;
  @media screen and (max-width: 700px) {
    // flex-flow: column wrap;
  }
  @media screen and (max-width: 800px) {
    flex-flow: column wrap;
  }

  & .intro__tags_tag {
    font-size: 2rem;
    width: 25%;
    border-radius: 4px;
    font-weight: 800;
    margin: 5px;
    padding: 0 7px;
    transition: 0.3s;
    @media screen and (max-width: 800px) {
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }
  }
}

.intro__social {
  grid-row: 3;
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-items: stretch;
  justify-content: space-evenly;
  list-style: inside none;
  margin: 0;
  padding: 0;

  li {
    align-self: center;
    justify-self: center;
    & a:hover {
      border: none;
    }

    svg {
      border-radius: 4px;
      color: $color-dark;
      height: auto;
      margin: 5px;
      padding: 7px 10px;
      transition: 0.3s;
      width: 38px;

      &:hover {
        box-shadow: 4px 4px 0 0 $color-dark;
        transform: translate(-4px, -4px);
      }
      @media screen and (max-width: 500px) {
        margin: 0;
      }
    }
  }
  @media screen and (max-width: 800px) {
    justify-content: space-between;
  }

  @media screen and (max-width: 580px) {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, auto);
    li > a > svg {
      padding: 7px 40px;
      margin: 0;
    }
  }

  @media screen and (max-width: 530px) {
    li > a > svg {
      padding: 7px 30px;
    }
  }

  @media screen and (max-width: 450px) {
    li > a > svg {
      padding: 7px 25px;
    }
  }

  @media screen and (max-width: 400px) {
    li > a > svg {
      padding: 7px 20px;
    }
  }

  @media screen and (max-width: 365px) {
    li > a > svg {
      padding: 7px 15px;
    }
  }
}
