.post_container {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  max-width: 36rem;
  padding: 0 1rem;
  transition: 0.3s;
  margin: 12rem auto 6rem;
  @media screen and (max-width: 800px) {
    margin: 6rem auto 6rem;
  }
  a {
    align-self: start;
  }
}
