.post_container {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  max-width: 36rem;
  padding: 0 1rem;
  transition: 0.3s;
  margin: 4rem auto 6rem;
  @media screen and (max-width: 800px) {
    margin: 6rem auto 6rem;
  }
  a {
    align-self: flex-start;
  }
}

.post_img {
  border: 1px solid $color-dark;
  border-radius: 10px;
  display: block;
  width: 100%;
  height: auto;
  margin: 1rem auto;
  transition: 0.9s;
  transform: translate(-8px, -8px);
  box-shadow: 0.5px 0.5px 0 0 $color-dark, 1px 1px 0 0 $color-dark,
    1.5px 1.5px 0 0 $color-dark, 2px 2px 0 0 $color-dark,
    2.5px 2.5px 0 0 $color-dark, 3px 3px 0 0 $color-dark,
    3.5px 3.5px 0 0 $color-dark, 4px 4px 0 0 $color-dark,
    4.5px 4.5px 0 0 $color-dark, 5px 5px 0 0 $color-dark,
    5.5px 5.5px 0 0 $color-dark, 6px 6px 0 0 $color-dark,
    6.5px 6.5px 0 0 $color-dark, 7px 7px 0 0 $color-dark,
    7.5px 7.5px 0 0 $color-dark, 8px 8px 0px $color-dark;
}
