pre {
  overflow-x: scroll;
  tab-size: 2;
  white-space: pre;
}

code {
  background: $color-light;
  border-radius: 4px;
  color: $color-dark;
  font-family: 'Iosevka', Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 14px;
  overflow-x: scroll;
  padding: 0 5px;
  white-space: pre;
  // white-space: normal;
}
.codeblock {
  overflow-x: scroll;
  background: $color-light;
  border: 1px solid $color-dark;
  border-radius: 4px;
  display: block;
  padding: $size-1;
  &__comment {
    color: $color-greyer;
    font-style: italic;
  }
}
