@use 'variables' as *;

html,
body {
  background: $color-lighter;
  color: $color-dark;
  font-family: 'HK Grotesk', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

main {
  margin: 0 auto;
}

a {
  color: $color-tertiary-darker;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    // color: $color-secondary-darker;
    border-bottom: 1px solid $color-tertiary-darker;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 4px;
}

strong {
  font-weight: bold;
}
