.header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 5vw;
  &__img {
    width: 100%;
    max-width: 800px;
    // margin: $size-1;
  }
  &__title {
    display: none;
  }
  &__heading {
    display: none;
  }
  &__subheading {
    border-radius: 4px;
    background: $color-dark;
    color: $color-primary;
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: $size-6;
    padding: 0 $size-1;
    @media screen and (max-width: 768px) {
      font-size: 7vw;
    }
  }
  &__description {
    font-size: 1.5rem;
  }
}
