@use 'variables' as *;
@use "sass:color";
.txtupper {
  text-transform: uppercase;
}

.txtlower {
  text-transform: lowercase;
}

.txt-900 {
  font-weight: 900;
}

.txt-800 {
  font-weight: 800;
}

.txt-700 {
  font-weight: 700;
}

.txt-600 {
  font-weight: 600;
}

.txt-500 {
  font-weight: 500;
}

.txt-400 {
  font-weight: 400;
}

.txt-300 {
  font-weight: 300;
}

.txt200 {
  font-weight: 200;
}

.primary {
  color: $color-primary;
}

.secondary {
  color: $color-secondary;
}

.tertiary {
  color: $color-tertiary;
}

.quaternary {
  color: $color-quaternary;
}

.header-1 {
  font-size: $size-5;
  line-height: 1.2;
  @media screen and (max-width: 500px) {
    font-size: 8vw;
  }
}

.header-2 {
  font-size: $size-4;
  line-height: 1.2;
  margin: $size-5 auto $size-sm;
  @media screen and (max-width: 500px) {
    font-size: 8vw;
  }
}

.page-heading {
  font-size: $size-7;
}

.img-avatar {
  background: $color-primary;
  max-width: 300px;
  @media screen and (max-width: 800px) {
    max-width: 200px;
  }
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 1px solid $color-dark;
  margin: auto;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 10s linear infinite;
}

.info {
  border: 4px solid $color-tertiary-darker;
  border-radius: 4px;
  font-family: 'HK Grotesk';
  font-style: italic;
  margin: 0;
  overflow: auto;
  padding: $size-1;
}

@mixin color-button($color: $color-primary) {
  background-color: color.adjust($color, $lightness: 10%);
  border: 1px solid $color-dark;
  border-radius: 10px;
  padding: 0 1rem;
  margin: 10px 10px;
  font-weight: 900;
  font-size: $size-3;
  text-transform: lowercase;
  transition: 0.3s;
  &:hover {
    box-shadow: 4px 4px 0px $color-dark;
    background-color: $color;
  }
  a {
    color: inherit;
    &:hover {
      border-bottom: none;
    }
  }
}

.button {
  &-secondary {
    @include color-button($color-secondary);
    text-align: center;
    width: 100%;
  }
  &-primary {
    @include color-button($color-primary);
    text-align: center;
    width: 100%;
  }
  &-tertiary {
    @include color-button($color-tertiary);
    text-align: center;
    width: 100%;
  }
  &-quaternary {
    @include color-button($color-quaternary);
    text-align: center;
    width: 100%;
  }
}

.hoverless {
  &:hover {
    border-bottom: inherit;
    text-transform: none;
  }
}

.center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.anchor::before {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

.rainbow-gradient {
  background: linear-gradient(226deg, #ff90ad, #ffdf85, #e5ff91, #b8dcff);
  background-size: 800% 800%;

  -webkit-animation: RainbowGradient 6s ease infinite;
  -moz-animation: RainbowGradient 6s ease infinite;
  -o-animation: RainbowGradient 6s ease infinite;
  animation: RainbowGradient 6s ease infinite;
}

@-webkit-keyframes RainbowGradient {
  0% {
    background-position: 0% 14%;
  }
  50% {
    background-position: 100% 87%;
  }
  100% {
    background-position: 0% 14%;
  }
}
@-moz-keyframes RainbowGradient {
  0% {
    background-position: 0% 14%;
  }
  50% {
    background-position: 100% 87%;
  }
  100% {
    background-position: 0% 14%;
  }
}
@-o-keyframes RainbowGradient {
  0% {
    background-position: 0% 14%;
  }
  50% {
    background-position: 100% 87%;
  }
  100% {
    background-position: 0% 14%;
  }
}
@keyframes RainbowGradient {
  0% {
    background-position: 0% 14%;
  }
  50% {
    background-position: 100% 87%;
  }
  100% {
    background-position: 0% 14%;
  }
}
