.post {
  &__header {
    font-size: $size-5;
    line-height: 1.2;
    @media screen and (max-width: 500px) {
      font-size: 8vw;
    }
  }
  &__date {
    color: $color-grey;
    font-size: $size-sm;
    font-style: italic;
  }
  &__subheader {
    font-size: $size-2;
    @media screen and (max-width: 500px) {
      font-size: 6vw;
    }
  }
  &__article {
    .info {
      border: 4px solid $color-secondary-less;
      border-radius: 4px;
      font-family: 'HK Grotesk';
      font-style: italic;
      font-size: $size-med;
      margin: 0;
      overflow: auto;
      padding: $size-1;
      code {
        font-size: $size-sm;
      }
    }
  }
}
