// Colors
$color-light: #fdfdfd;
$color-grey-light: #dddddd;
$color-grey: #a0a0a0;
$color-dark: #444444;
$color-primary: #ff90ad;
$color-secondary: #ffdf85;
$color-tertiary: #b8dcff;
$color-tertiary-darker: #66b2ff;
$color-quaternary: #caffbf;
$color-quaternary-darker: #84ff6b;

$pink: $color-primary;
$yellow: $color-secondary;
$blue: $color-tertiary;
$green: $color-quaternary;

// Sizing
$ratio: 1.236;
$size-sm-1: 1rem / $ratio;
$size-sm-2: $size-sm-1 / $ratio;
$size-sm-3: $size-sm-2 / $ratio;
$size-1: 1rem;
$size-2: $size-1 * $ratio;
$size-3: $size-2 * $ratio;
$size-4: $size-3 * $ratio;
$size-5: $size-4 * $ratio;
$size-6: $size-5 * $ratio;
$size-7: $size-6 * $ratio;
$size-8: $size-7 * $ratio;
$size-9: $size-8 * $ratio;
$size-10: $size-9 * $ratio;

$size-sm: 0.75rem;
$size-med: 0.85rem;
