@import './_fonts.scss';
@import './_variables.scss';
@import './_layout.scss';
@import './_code.scss';
@import './_core.scss';
@import './_post.scss';
@import './_helpers.scss';

.dark {
  color: $color-dark;
  background: $color-lighter;
}

// Maintains consistent global layout
#__next {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}
